.cont {
    width: 100%;
    padding: 23px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e6e6e6;
}

.content {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
    gap: 4px;
    a {
        font-weight: 500;
    }
    p {
        color: #838383;
    }
}
